

<div id="divSections" class="grid text-center">
    {{#listaSecciones}}
    <div class="g-col-12 g-col-md-6 g-col-lg-4 card border-dark">
        <a href={{link}}><img src={{imagen}} id="section-{{index}}" class="card-img-top"
                alt={{nombre}}></a>
    </div>
    {{/listaSecciones}}
</div>